@import url(./btn.scss);
body {
  background: url(../img/mountains-190055.jpg) no-repeat;
  background-size: cover;
}
.logo {
  width: 24.05rem;
  height: 10rem;
  margin: 0 auto;
}
.logo img {
  width: 400px;
  height: auto;
}
.form-box {
  width: 23.05rem;
  height: 35rem;
  position: relative;
  margin: 0 auto;
  margin-top: 10%;
  background: #fff;
  padding: 5px;
  overflow: hidden;
  border-radius: 0.625rem;
}
.button-box {
  width: 14.375rem;
  margin: 2.1875rem auto;
  position: relative;
  box-shadow: 0 0 1.25rem 0.5625rem #ff61241f;
  border-radius: 1.875rem;
}
.toggle-btn {
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}
#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, #ffbf6c, #ff7900);
  border-radius: 1.875rem;
  transition: 0.5s;
}
.input-group {
  top: 11.25rem;
  position: absolute;
  width: 17.5rem;
  transition: 0.5s;
}
.input-field {
  width: 100%;
  padding: 0.625rem 0;
  margin: 0.3125rem 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}
.submit-btn {
  width: 100%;
  padding: 0.625rem 0;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #ffbf6c, #ff7900);
  border: 0;
  outline: none;
  border-radius: 1.875rem;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in-out;
}

.submit-btn:hover {
  background: linear-gradient(to right, #ff7900, #ffbf6c);
  color: #000;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.check-box {
  margin: 0.625rem 0 1.875rem 0;
  font-size: 0.875rem;
  color: #777;
  cursor: pointer;
}
span {
  color: #ff7900;
  font-size: 1rem;
  bottom: 4.0625rem;
  left: 1.25rem;
  position: absolute;
}
#Login {
  left: 3.125rem;
}
#Register {
  left: 28.125rem;
}

@media screen and (max-width: 800px) {
  .logo {
    height: 11rem;
  }
}
@media screen and (max-width: 600px) {
  .logo {
    height: 13rem;
  }
}
@media screen and (max-width: 500px) {
  .logo {
    height: 15rem;
  }
}
@media screen and (max-width: 400px) {
  .logo {
    height: 17rem;
  }
}
@media screen and (max-width: 375px) {
  .form-box {
    width: 24.05rem;
    height: 30rem;
  }
}
